<div class="footer">
    <!-- <div class="myLinks">
                <ul id="menu">
                        <li><a href="#home">Blog</a></li>
                        <li><a href="#news">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        
                </ul>
        </div> -->
    <div class="divider" style="margin-bottom: 5px;"><span></span><span style="color: blanchedalmond;">Hello World!</span><span></span></div>
    <div class="footerText">
        <div class="myLinks">
            <ul id="menu">
                <li><a href="https://journey2104.blogspot.com/" target="_blank">Blog</a></li>
                <li><a routerLink="/about" title="About me">About</a></li>
                <li><a routerLink="/contact" title="Contact me">Contact</a></li>


            </ul>
        </div>
        <!-- <p style="text-align: center;">Surjashish Sengupta© 2020</p> -->
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>

</div>