<!-- <div class="footer">
    
    <div class="divider" style="margin-bottom: 5px;"><span></span><span style="color: blanchedalmond;">Hello World!</span><span></span></div>
    <div class="footerText">
        <div class="myLinks">
            <ul id="menu">
                <li><a href="https://journey2104.blogspot.com/" target="_blank">Blog</a></li>
                <li><a routerLink="/about" title="About me">About</a></li>
                <li><a routerLink="/contact" title="Contact me">Contact</a></li>


            </ul>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>

</div> -->

<div class="footer">
    <ul class="social-network social-circle">
        <li><a class="icoLinkedin" href="https://www.linkedin.com/in/surjashish-sengupta" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="icoTwitter" href="https://twitter.com/SurjashishS" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a class="icoQuora" href="https://www.quora.com/profile/Surjashish-Sengupta" title="Quora" target="_blank"><i class="fa fa-quora"></i></a></li>
        <li><a class="icoFacebook" href="https://www.facebook.com/surjashish.sengupta" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a class="icoInstagram" href="https://www.instagram.com/itz_dada/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
    </ul>
</div>