<div class="footer">
        <!-- <div class="myLinks">
                <ul id="menu">
                        <li><a href="#home">Blog</a></li>
                        <li><a href="#news">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        
                </ul>
        </div> -->
    <div class="divider" style="margin-bottom: 5px;"><span></span><span style="color: blanchedalmond;">Hello World!</span><span></span></div>
    <div class="footerText">
            <div class="myLinks">
                    <ul id="menu">
                            <li><a href="https://journey2104.blogspot.com/">Blog</a></li>
                            <li><a href="#news" data-container="body" data-toggle="popover" title="About me" data-content="Over coffee?">About</a></li>
                            <li><a href="#contact"data-toggle="popover" title="Contact me" data-content="Please write on surjashish@gmail.com">Contact</a></li>
                            
                    </ul>
            </div>
        <!-- <p style="text-align: center;">Surjashish Sengupta© 2020</p> -->
    </div>
</div>