        .divider {
            /* minor cosmetics */
            color: blanchedalmond;
            display: table;
            text-align: center;
            width: 75%;
            /* divider width */
            margin-top: 0;
            /* spacing above/below */
            margin: auto;
        }
        
        .divider span {
            display: table-cell;
            position: relative;
            color: blanchedalmond;
        }
        
        .divider span:first-child,
        .divider span:last-child {
            color: blanchedalmond;
            width: 50%;
            top: 13px;
            /* adjust vertical align */
            -moz-background-size: 100% 2px;
            /* line width */
            background-size: 100% 2px;
            /* line width */
            background-position: 0 0, 0 100%;
            background-repeat: no-repeat;
        }
        
        .divider span:first-child {
            /* color changes in here */
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(blanchedalmond));
            background-image: -webkit-linear-gradient(180deg, transparent, blanchedalmond);
            background-image: -moz-linear-gradient(180deg, transparent, blanchedalmond);
            background-image: -o-linear-gradient(180deg, transparent, blanchedalmond);
            background-image: linear-gradient(90deg, transparent, blanchedalmond);
        }
        
        .divider span:nth-child(2) {
            color: blanchedalmond;
            padding: 0px 5px;
            width: auto;
            white-space: nowrap;
        }
        
        .divider span:last-child {
            /* color changes in here */
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(blanchedalmond), to(transparent));
            background-image: -webkit-linear-gradient(180deg, blanchedalmond, transparent);
            background-image: -moz-linear-gradient(180deg, blanchedalmond, transparent);
            background-image: -o-linear-gradient(180deg, blanchedalmond, transparent);
            background-image: linear-gradient(90deg, blanchedalmond, transparent);
        }
        
        a {
            text-decoration: none;
            color: blanchedalmond;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            /* background-color: #333333; */
        }
        
        li {
            text-align: center;
        }
        
        ul>li {
            display: inline-block;
            /* You can also add some margins here to make it look prettier */
            zoom: 1;
            *display: inline;
            /* this fix is needed for IE7- */
        }
        
        #menu li {
            margin-right: 2%;
            margin-left: 2%;
            margin-top: 2%;
        }
        
        #menu {
            text-align: center;
        }
        
        #menu li a:hover {
            color: gray;
        }
        
        .footerText {
            font-size: 15px;
        }
        
        .footer {
            position: fixed;
            height: 80px;
            bottom: 10px;
            left: 0px;
            right: 0px;
            margin-bottom: 0px;
        }