<app-graph></app-graph>

<div class="about">
    <br>    
    <h3>All about Travel, food, reading books and some code.</h3>
    <h5>This page was made using Angular 9, typescript, HTML and CSS </h5>

    <br>

    
    <!-- <div class="publications">
        <p>
            Internship database - <a class="haha" href="https://mondaymorning.nitrkl.ac.in/internships-database/all/all/5" title="internship" target="_blank">Surjashish Sengupta, HR Jhonson</a>
        </p>
    </div> -->
    <ul id="menu">
        <!-- <li>Internship database - <a class="haha" href="https://mondaymorning.nitrkl.ac.in/internships-database/all/all/5" title="internship" target="_blank">Surjashish Sengupta, HR Jhonson</a></li> -->
        <li><a routerLink="/contact" title="Contact me">Contact Me!</a></li>
        </ul>
 </div>
<button type="button" routerLink="/" class="btn btn-outline-warning" style="color: blanchedalmond;" id="back">Home</button>



