<!-- <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Surjashish:</h5>
        <span class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

      </button>
      <a class="navbar-brand" href="#">Surjashish Sengupta</a>
    </nav>
  </div> -->
  <app-landing-page></app-landing-page>