<a><img src="../../assets/images/landing page 2.jpg" onerror="this.onerror=null;this.src='./assets/images/landing page 2.jpg';" class="dp"></a>

<div class="name">

    <h1>
        Surjashish Sengupta
    </h1>
</div>
<div class="professional">
    <h5>
        Software Developer | Gamer
    </h5>
    <h6>
        Travel enthuiast
    </h6>
</div>
<div class="handles">
    <a href="https://www.facebook.com/surjashish.sengupta"><i class="fa fa-facebook" aria-hidden="true" style="margin-right: 15px; color:blanchedalmond" id = "icons"></i></a>
    <a href="https://www.instagram.com/itz_dada/"><i class="fa fa-instagram" aria-hidden="true" style="margin-right: 15px; color:blanchedalmond" id = "icons"></i></a>
    <a href="https://www.linkedin.com/in/surjashish-sengupta"><i class="fa fa-linkedin-square" aria-hidden="true" style="margin-right: 15px; color:blanchedalmond" id = "icons"></i></a>
    <a href="https:google.com"><i class="fa fa-twitter" aria-hidden="true" style="margin-right: 15px" id = "icons"></i></a>

</div>

<app-footer></app-footer>