/* You can add global styles to this file, and also import other style files */

body {
    background-color: black;
    /* background-image: url("https://image.ibb.co/mjnygo/stars.png"); */
    color: blanchedalmond;
    /* padding-bottom:160px; */
}


/* h1{
    font-size: 9vw;
} */

@media screen and (max-width: 400px) {
    h1 {
        font-size: 9vw;
    }
}


/* the below style is to redirect page to homepage and shall be used everywhere in the website. */

#back {
    margin-top: 5%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}