.pieChart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {
    .pieChart {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 501px) and (max-width: 768) {
    .pieChart {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 940px) {
    .pieChart {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 941px) and (max-width: 1300px) {
    .pieChart {
        width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1301px) and (max-width: 1449px) {
    .pieChart {
        width: 58%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1450px) {
    .pieChart {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}